TALK_SUBMISSIONS_DB_URL=postgresql://postgres.<project-ref>:<password>@aws-1-eu-central-1.pooler.supabase.com:5432/postgres
TALK_SUBMISSIONS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,https://angular.zuerich,https://www.angular.zuerich
TALK_SUBMISSIONS_SITE_URL=https://angular.zuerich
TURNSTILE_SECRET_KEY=

RESEND_API_KEY=re_...
MAIL_FROM=Angular Zürich <gruezi@angular.zuerich>
MAIL_REPLY_TO=gruezi@angular.zuerich

