TALK_SUBMISSIONS_DB_URL=postgresql://postgres.<project-ref>:<password>@aws-1-eu-central-1.pooler.supabase.com:5432/postgres
TALK_SUBMISSIONS_ALLOWED_ORIGINS=http://localhost:4200,https://angularzurich.dev,https://www.angularzurich.dev
TURNSTILE_SECRET_KEY=
